/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}
img {
  opacity: 0.5;
}
.button-collapse {
  color: #26a69a;
}

.parallax-container {
  margin-top: 40px;
  min-height: 380px;
  line-height: 0;
  height: auto;
  /* color: rgba(255,255,255,.9); */
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

h1, h5 {
  color: black;
}

.linked {
  width: 32px;
  height: 32px;
  border: 0px;
}
.linked1{
  width: 56px;
  height: 56px;
  border: 0px;
}
.icons{
  display: inline-block;
  height: 56px;
}
#menuItems li a:hover, .socialIconDiv a:hover, #emailAddress a:hover {
  color: #00247F;
}


footer.page-footer {
  margin: 0;
}