/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav  {
  color: #473d3d;
  font-size: 20px;
  font-family: 'Permanent Marker', cursive;
}
span, .btn{
  font-family: 'Permanent Marker', cursive;
  font-size: 16px;
}
p {
  line-height: 2rem;
  font-size: 16px;
  font-family: 'Varela Round', sans-serif;
}
a {
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
}
li{
  font-size: 16px;
}
.parallax-img, .ga {
  opacity: 0.5;
}
.button-collapse {
  color: #473d3d;
}
.title{
  background-color: grey;
  width: 100%;
}
.inline {
  display: inline-block;
}
.parallax-container {
  margin-top: 10px;
  min-height: 500px;
  line-height: 0;
  height: auto;
  /* color: rgba(255,255,255,.9); */
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

h1, h5 {
  font-family: 'Permanent Marker', cursive;
}

.project-img {
  height: 250px;
}
.card-content{
  height: 320px;
}
.about {
  height: 600px;
}
.icons{
  display: inline-block;
  height: 56px;
}
.me, .ga{
  height: 200px;
  width: 200px;
}
.project{
  margin-left: 25px;
}
.fa, .header, p, h5, h1, .btn {
  color: #473d3d;
}
.nav-wrapper, .btn {
  background-color: grey;
}
#menuItems li a:hover, .socialIconDiv a:hover, #emailAddress a:hover {
  color: #00247F;
}
#about{
  margin-top: 50px;
}

footer.page-footer {
  margin: 0;
}
