/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav  {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
span, .btn{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
p {
  line-height: 2rem;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  color: #473d3d;
}
a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
li{
  font-size: 30px;
  
}

.move {
  margin-left: 10px;
  color: #77abd1;
}
.elena {
  background-color: white;
  color: #473d3d;
  font-size: 24px;
}
/* .parallax-img {
  opacity: 0.5;
} */
.small{
  font-size: 20px;
  color: #77abd1;
}
.icon {
  height: 35px;
  width: 35px;
}
.button-collapse {
  color: #473d3d;
}
.title{
  background-color: grey;
  width: 100%;
}
.inline {
  display: inline-block;
}
.parallax-container {
  margin-top: 5px;
  min-height: 500px;
  line-height: 0;
  height: auto;
  text-align: center;
  /* color: rgba(255,255,255,.9); */
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

h1, h5 {
  font-family: 'Roboto', sans-serif;
}

.project-img {
  height: 250px;
}
.card-content{
  height: 360px;
}
.exp-card{
  height: 150px;
}
.about {
  height: 500px;
  text-justify: center;
}
.icons{
  display: inline-block;
  height: 56px;
}
.me {
  height: 200px;
  width: 200px;
  margin-top: 30px;
}
.ga {
  height: 200px;
  width: 165px;
}
.project{
  margin-left: 25px;
  color: #77abd1;
}
.fa, .header, p, h5, h1, .btn {
  color: #473d3d;
}
.nav-wrapper, .btn {
  background-color: grey;
}
.writing-mode{
  writing-mode: vertical-rl;
  margin-left: 20px;
}
.exp{
  color: #77abd1;
}
.web{
  padding: 20px;
  margin: 0 100px;
}
.card-panel{
  height: 150px;
}
#menuItems li a:hover, .socialIconDiv a:hover, #emailAddress a:hover {
  color: #00247F;
}
#about{
  margin-top: 50px;
}
#me {
  color: #473d3d;
}
#skills{
  margin-top: 60px;
}
footer.page-footer {
  margin: 0;
}